@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3 class="mt-5">Handling of Personal Information and Purpose</h3>
    <ol class="mb-5 fs-5">
        <li>
            <p>Registered usernames will be used for content management purposes.</p>
        </li>
        <li>
            <p>Registered usernames will not be used for any other services.</p>
        </li>
        <li>
        <p>Submissions that are deemed inappropriate will be removed or changed at the discretion of the administrator.</p>
        </li>
    </ol>

<h3>Disclaimer</h3>
    <ol class="mb-5 fs-5">
        <li>
            <p>We are not responsible for any problems that may occur in the use of this site.</p>
        </li>
    </ol>
<h3>Manager</h3>
    <ul class="fs-5">
        <li>Name: Kzak</li>
        <li>
            X Account: @@kzak1434446<br />
        <a href="https://twitter.com/" target="_blank" class="link-light">Please to DM</a>
        </li>
    </ul>